
html{ 
    height: 100%;
}


body{ 
    background-image: linear-gradient(rgb(125, 141, 137), rgb(52, 101, 116));
}


body{
    background-attachment: fixed;
}


.error{
    padding: 10px;
    color: crimson;
    border: 1px dotted crimson;
}


.success{
    padding: 10px;
    color: limegreen;
    border: 1px dotted limegreen;
}


li {
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    background: rgb(132, 217, 238);
    border: 1px dotted #ddd;
}